<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Colour Palette Generator</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
        <div class="wrapper">
            <div class="top">
                <div class="title"><h1>Image Colour Palette Generator</h1></div>
            </div>
        </div>
 <!-- Title -->
      <div class='row'>
        <div class='col-lg-3 mt-4'>
         <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" accept="image/*" name="input_file">
            <button id="RunButton" type="submit">Run</button>
         </form>
        </div>
        <div class='col-lg-3 mt-4'>
            <div>
			    <img src="{{ url_for('display_image', filename=filename) }}" onerror="this.onerror=null; this.remove();" height="300" width="300">
		    </div>
        </div>
        <div class='col-lg-3 mt-4'>
            <div>
			    <img src="/static/uploads/palette.png" onerror="this.onerror=null; this.remove();" height="100" width="600">
		    </div>
        </div>
      </div>
</body>
<footer>
    <p>Made by Naveen.</p>
</footer>
</html>